<div layout="column" ng-cloak class="md-inline-form">
    <div id="button-add-top">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.newProduct()">
            Novo Produto
            <i class="material-icons">add</i>
        </button>
    </div>
    <div id="button-add-fixed">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.newProduct()">
            <i class="material-icons">add</i>
        </button>
    </div>


    <!-- exact table from live demo -->
    <md-table-container>
        <table class="mdl-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Nome</th>
                    <th>Preço</th>
                    <th class="mdl-data-table__cell--non-numeric">Categoria</th>
                    <th class="mdl-data-table__cell--non-numeric">Editar</th>
                    <th class="mdl-data-table__cell--non-numeric">Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in $ctrl.products track by product.id">
                    <td>{{product.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{product.name}}</td>
                    <td>R$ {{product.value}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{product.category.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-button class="md-icon-button" ng-click="$ctrl.edit(product.id)">
                            <i class="material-icons">mode_edit</i>
                        </md-button>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-button class="md-icon-button" ng-click="$ctrl.remove(product.id)">
                            <i class="material-icons">delete</i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

</div>
