<div layout="column" ng-cloak class="md-inline-form">
    <div id="button-add-top">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.newAddress()">
            Novo Endereço
            <i class="material-icons">add</i>
        </button>
    </div>
    <div id="button-add-fixed">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.newAddress()">
            <i class="material-icons">add</i>
        </button>
    </div>

    <!-- exact table from live demo -->
    <md-table-container>
        <table class="mdl-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Cidade</th>
                    <th class="mdl-data-table__cell--non-numeric">Bairro</th>
                    <th class="mdl-data-table__cell--non-numeric">Endereço</th>
                    <th class="mdl-data-table__cell--non-numeric">Número</th>
                    <th class="mdl-data-table__cell--non-numeric">Complemento</th>
                    <th class="mdl-data-table__cell--non-numeric">Editar</th>
                    <th class="mdl-data-table__cell--non-numeric">Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in $ctrl.addresss track by address.id">  
                    <td>{{address.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{address.city.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{address.district}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{address.address}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{address.number}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{address.complement}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-button class="md-icon-button" ng-click="$ctrl.edit(address.id)">
                            <i class="material-icons">mode_edit</i>
                        </md-button>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-button class="md-icon-button" ng-click="$ctrl.remove(address.id)">
                            <i class="material-icons">delete</i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</div>
