<div layout="column" ng-cloak class="md-inline-form">

    <md-content layout-padding>
        <div>
            <form name="customerForm">
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>ID</label>
                        <input type="text" ng-model="$ctrl.customer.id" readonly>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label>Nome</label>
                        <input type="text" ng-model="$ctrl.customer.name" required>
                    </md-input-container>
                </div>
                <fieldset>
                    <label>
                        Endereços
                    </label>

                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>Cidade</label>
                            <md-select ng-model="$ctrl.addressItem.cityId">
                                <md-option ng-repeat="city in $ctrl.citys" value="{{city.id}}">
                                    {{city.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Bairro</label>
                            <input type="text" ng-model="$ctrl.addressItem.district" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Endereço</label>
                            <input type="text" ng-model="$ctrl.addressItem.address" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Número</label>
                            <input type="text" ng-model="$ctrl.addressItem.number" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Complemento</label>
                            <input type="text" ng-model="$ctrl.addressItem.complement">
                        </md-input-container>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.addAddressItem()">
                            Novo endereço
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <div layout="row">
                        <md-table-container>
                            <table class="mdl-data-table mdl-shadow--2dp">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="mdl-data-table__cell--non-numeric">Cidade</th>
                                        <th class="mdl-data-table__cell--non-numeric">Bairro</th>
                                        <th class="mdl-data-table__cell--non-numeric">Endereço</th>
                                        <th>Número</th>
                                        <th class="mdl-data-table__cell--non-numeric">Complemento</th>
                                        <th class="mdl-data-table__cell--non-numeric">Remover</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="addressItem in $ctrl.customer.addresses track by $index">
                                        <td>{{$index + 1}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{addressItem.city.name}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{addressItem.district}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{addressItem.address}}</td>
                                        <td>{{addressItem.number}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">{{addressItem.complement}}</td>
                                        <td class="mdl-data-table__cell--non-numeric">
                                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-button--delete" ng-click="$ctrl.removeAddressItem($index)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                </fieldset>
                <div class="submit-button">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.save()">
                        Salvar
                        <i class="material-icons">save</i>
                    </button>
                </div>
            </form>
        </div>
    </md-content>
</div>
