<div layout="column" ng-cloak class="md-inline-form">
    <div id="button-add-top">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.newCustomer()">
            Novo Produto
            <i class="material-icons">add</i>
        </button>
    </div>
    <div id="button-add-fixed">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.newCustomer()">
            <i class="material-icons">add</i>
        </button>
    </div>

    <!-- exact table from live demo -->
    <md-table-container>
        <table class="mdl-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Nome</th>
                    <th class="mdl-data-table__cell--non-numeric">Cidade</th>
                    <th class="mdl-data-table__cell--non-numeric">Bairro</th>
                    <th class="mdl-data-table__cell--non-numeric">Editar</th>
                    <th class="mdl-data-table__cell--non-numeric">Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in $ctrl.customers track by customer.id">
                    <td>{{customer.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{customer.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{customer.addresses[0].city.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{customer.addresses[0].district}}</td>               
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-button class="md-icon-button" ng-click="$ctrl.edit(customer.id)">
                            <i class="material-icons">mode_edit</i>
                        </md-button>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-button class="md-icon-button" ng-click="$ctrl.remove(customer.id)">
                            <i class="material-icons">delete</i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</div>
