<div layout="column" ng-cloak class="md-inline-form">

  <md-content layout-padding>
    <div>
      <form name="userForm">
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>ID</label>
            <input type="text" ng-model="$ctrl.user.id" readonly>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Nome</label>
            <input type="text" ng-model="$ctrl.user.name" required>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>E-mail</label>
            <input type="email" ng-model="$ctrl.user.email" required>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Papel</label>
            <md-select ng-model="$ctrl.user.roleId">
              <md-option ng-repeat="role in $ctrl.availableRoles track by role.id" value="{{role.id}}">
                {{role.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Senha</label>
            <input type="password" ng-model="$ctrl.user.password">
          </md-input-container>
        </div>
        <div layout="row">
          <md-button class="md-raised md-primary" ng-click="$ctrl.save()">Salvar</md-button>
        </div>
      </form>
    </div>
  </md-content>
</div>
