<div layout="column" ng-cloak class="md-inline-form">
    <div id="button-add-top">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.newUser()">
            Novo usuário
            <i class="material-icons">add</i>
        </button>
    </div>
    <div id="button-add-fixed">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="$ctrl.newUser()">
            <i class="material-icons">add</i>
        </button>
    </div>


  <!-- exact table from live demo -->
    <md-table-container>
        <table class="mdl-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Nome</th>
                    <th class="mdl-data-table__cell--non-numeric">E-mail</th>
                    <th class="mdl-data-table__cell--non-numeric">Papel</th>
                    <th class="mdl-data-table__cell--non-numeric">Editar</th>
                    <th class="mdl-data-table__cell--non-numeric">Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in $ctrl.users track by user.id">
                    <td>{{user.id}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.role.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-button class="md-icon-button" ng-click="$ctrl.edit(user.id)">
                            <i class="material-icons">mode_edit</i>
                        </md-button>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <md-button class="md-icon-button" ng-click="$ctrl.remove(user.id)">
                            <i class="material-icons">delete</i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

</div>
