<div layout="column" ng-cloak class="md-inline-form">

  <md-button class="md-icon-button" ng-click="$ctrl.newCity()">
    <md-icon md-font-icon="fa-plus" class="fa md-raised"></md-icon>
  </md-button>

  <!-- exact table from live demo -->
  <md-table-container>
    <table md-table>
      <thead md-head>
      <tr md-row>
        <th md-column>ID</th>
        <th md-column>Nome</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="city in $ctrl.citys track by city.id">
        <td md-cell>{{city.id}}</td>
        <td md-cell>{{city.name}}</td>
        <td md-cell>
          <md-button class="md-icon-button" ng-click="$ctrl.remove(city.id)">
            <md-icon md-font-icon="fa-times" class="fa md-raised md-warn"></md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="$ctrl.edit(city.id)">
            <md-icon md-font-icon="fa-edit" class="fa md-raised"></md-icon>
          </md-button>
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>

</div>
