#login { 
    background: url('http://lorempixel.com/1920/1080/food/') no-repeat top center; 
    background-size: cover; 
    width: 100%; 
    min-height: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    box-sizing: border-box;

    .wrap-login {
        display: block;
        width: 500px;
        background: rgba(255, 255, 255, 0.8); 
        margin: 0px auto; 
        border-radius: 4px; 
        padding: 5px 15px 15px;
        box-sizing: border-box;
        
        h1{
            margin: 0px;
        
            img {
                max-width: 100%;
                text-align: center;
            }
        }
        
        button {
            float: right;
        }
        .mdl-textfield {
            width: 100%;
        }
    }

    @media screen and (max-width: 1000px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media screen and (max-width: 479px) {
        .wrap-login {
            width: 300px;
            
            button {
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 300px) {        
        .wrap-login {
            width: 100%;
        }
    }
}