<md-content layout-padding>
  <fieldset>
    <legend>
      <h5>Chat</h5>
    </legend>

    <hr>
    <div layout="row">
      <div layout="column" flex="70">
        <div style="max-height: 300px; height: 300px; overflow-y: auto">
          <ol>
            <li ng-repeat="message in $ctrl.getMessages() track by $index">
              [{{message.date | DateTime}}] {{message.user.name}}: {{message.message}}
            </li>
          </ol>
        </div>
      </div>
      <div layout="column" flex="30">
        <fieldset>
          <legend>
            Salas
          </legend>
          <ul class="user-list">
            <li ng-click="$ctrl.openChat('public')" ng-class="{ 'selected': $ctrl.isCurrentChat('public') }">
              <md-icon>group</md-icon>
              Publico
            </li>
          </ul>
        </fieldset>

        <fieldset>
          <legend>
            Usuários Online
          </legend>
          <ul class="user-list">
            <li ng-repeat="user in $ctrl.getOnlineUsers() track by $index" ng-click="$ctrl.openChat(user)"
                ng-class="{ 'selected': $ctrl.isCurrentChat(user), 'new-messages': ($ctrl.getNewMessages(user) > 0) }">
              <md-icon>person</md-icon>

              {{user.name}}

              <span ng-if="$ctrl.getNewMessages(user) > 0" class="alert-container">
                <span class="messages-alert">{{$ctrl.getNewMessages(user)}}</span>
                <md-icon class="md-danger">feedback</md-icon>
              </span>
            </li>
          </ul>
        </fieldset>

      </div>
    </div>


    <hr/>

    <div layout="row">
      <div layout="column" flex="80">
        <md-input-container class="md-block">
          <label>Mensagem</label>
          <input type="text" ng-model="$ctrl.message" required/>
        </md-input-container>
      </div>
      <div layout="column" flex="20">
        <md-button class="md-raised md-primary" ng-click="$ctrl.sendMessage()">
          <md-icon>mic</md-icon>
          Enviar
        </md-button>
      </div>
    </div>


  </fieldset>
</md-content>
